.table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }
  .btn-success{
    color: #fff !important;
    font-weight: 600;
    margin: 2px;
  }
  .btn-danger{
    color: #fff !important;
    font-weight: 600;
    margin: 2px;
  }
  .approve{
    float: left;
  }
  .pending{
    background-color: #ffc107; color: black; font-weight: 600;
  }
  .approved{
    background-color: #28a745; color: white; font-weight: 600;
  }
  .disapproved{
    background-color: #dc3545; color: white; font-weight: 600;
  }