.table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }
  .btn-success{
    color: #fff !important;
    font-weight: 600;
    margin: 2px;
  }
  .btn-danger{
    color: #fff !important;
    font-weight: 600;
    margin: 2px;
  }
  .approve{
    float: left;
  }