<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Approval Properties</h6>
  </div>
  <div class="card-body">
    <nz-tabset>
      <nz-tab nzTitle="Rentals">
        <div class="table-operations">
          <button nz-button (click)="sort('age', 'descend')">Sort age</button>
          <button nz-button (click)="resetFilters()">Clear filters</button>
          <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
        </div>
        <nz-table>
          <thead>
            <tr>
              <!-- <th
                              nzShowSort
                              nzShowFilter
                              [(nzSort)]="mapOfSort.name"
                              (nzSortChange)="sort('name', $event)"
                              [nzFilters]="listOfFilterName"
                              (nzFilterChange)="search($event, listOfSearchAddress)"
                            >
                              Name
                            </th>
                            <th nzShowSort [(nzSort)]="mapOfSort.age" (nzSortChange)="sort('age', $event)">Age</th>
                            <th
                              nzShowSort
                              nzShowFilter
                              [(nzSort)]="mapOfSort.address"
                              (nzSortChange)="sort('address', $event)"
                              [nzFilters]="listOfFilterAddress"
                              (nzFilterChange)="search(listOfSearchName, $event)"
                            >
                              Address
                            </th> -->
              <th>House Number</th>
              <th>Location</th>
              <th>District</th>
              <th>City</th>
              <th>Rooms</th>
              <th>Floors</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rental of rentals">
              <td>{{rental.house}}</td>
              <td>{{rental.location}}</td>
              <td>{{rental.district}}</td>
              <td>{{rental.city}}</td>
              <td>{{rental.rooms}}</td>
              <td>{{rental.floors}}</td>
              <td>
                <button nz-button class="approve" nzType="success" (click)="approveProperty(rental._id)">Approve</button>
                <div>
                  <button nz-button nzType="danger" (click)="showModal(rental._id)">Disapprove</button>
                  <nz-modal
                  [(nzVisible)]="isVisible"
                  nzTitle="DISAPPROVE"
                  nzOkText="YES"
                  nzCancelText="NO"
                  (nzOnOk)="handleOk(rental._id)"
                  (nzOnCancel)="handleCancel()"
                >
                  <p>Are you Sure? You want to disapprove this property?</p>
                </nz-modal>
                </div>
                <!-- <button class="btn btn-success">Approve</button> -->
                <!-- <button class="btn btn-danger">Disapprove</button> -->
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Sales">
        <div class="table-operations">
          <button nz-button (click)="sort('age', 'descend')">Sort age</button>
          <button nz-button (click)="resetFilters()">Clear filters</button>
          <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
        </div>
        <nz-table>
          <thead>
            <tr>
              <!-- <th
                                  nzShowSort
                                  nzShowFilter
                                  [(nzSort)]="mapOfSort.name"
                                  (nzSortChange)="sort('name', $event)"
                                  [nzFilters]="listOfFilterName"
                                  (nzFilterChange)="search($event, listOfSearchAddress)"
                                >
                                  Name
                                </th>
                                <th nzShowSort [(nzSort)]="mapOfSort.age" (nzSortChange)="sort('age', $event)">Age</th>
                                <th
                                  nzShowSort
                                  nzShowFilter
                                  [(nzSort)]="mapOfSort.address"
                                  (nzSortChange)="sort('address', $event)"
                                  [nzFilters]="listOfFilterAddress"
                                  (nzFilterChange)="search(listOfSearchName, $event)"
                                >
                                  Address
                                </th> -->
              <th>House Number</th>
              <th>Location</th>
              <th>District</th>
              <th>City</th>
              <th>Rooms</th>
              <th>Floors</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
                <td >{{sale.house}}</td>
                <td >{{sale.location}}</td>
                <td >{{sale.district}}</td>
                <td >{{sale.city}}</td>
                <td >{{sale.rooms}}</td>
                <td >{{sale.floors}}</td>
                <td >
                  <button nz-button class="approve" nzType="success" (click)="approveProperty(sale._id)">Approve</button>
                  <div>
                    <button nz-button nzType="danger" (click)="showModal(sale._id)">Disapprove</button>
                    <nz-modal
                      [(nzVisible)]="isVisible"
                      nzTitle="DISAPPROVE"
                      nzOkText="YES"
                      nzCancelText="NO"
                      (nzOnOk)="handleOk(sale._id)"
                      (nzOnCancel)="handleCancel()"
                    >
                      <p>Are you Sure? You want to disapprove this property?</p>
                    </nz-modal>
                  </div>
                  <!-- <button class="btn btn-success">Approve</button>
                  <button class="btn btn-danger">Disapprove</button> -->
                </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </div>
</div>