          <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Add Property</h6>
                  
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="row">
                    
                      <div class="col-lg-12">
                        <div class="p-3">
                          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Owner Detail</h6>
                          </div>
                          
                          <form class="user" #propertyForm="ngForm" (ngSubmit)="onSubmit(propertyForm)">
                          <div class="p-3">
                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0 col-lg-6 col-xl-6">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstname" [(ngModel)]="firstname" placeholder="First Name" required>
                              </div>
                              <div class="col-sm-6 ">
                                <input type="text" class="form-control form-control-user" id="exampleLastName" name="lastname" [(ngModel)]="lastname" placeholder="Last Name" required>
                              </div>
                            </div>
                            <div class="form-group row">
                               <div class="col-sm-6 mb-3 mb-sm-0 col-lg-6 col-xl-6">
                                <input type="email" class="form-control form-control-user" id="exampleFirstName" name="email" [(ngModel)]="email" placeholder="Email Address" required>
                              </div>
                              <div class="col-sm-6 ">
                                <input type="number" class="form-control form-control-user" id="exampleFirstName" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" name="cnic" [(ngModel)]="cnic" placeholder="CNIC#" required>
                              </div>  
                            </div>
                          </div>
                          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Property Detail</h6>
                          </div>
                            <div class="p-3">
                              <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="location"  [(ngModel)]="location" placeholder="Location" required>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" id="exampleInputPassword" name="state"  [(ngModel)]="state" placeholder="State/Province" required>
                                </div>
                                
                                <div class="col-sm-6">
                                  <input type="text" class="form-control form-control-user" id="exampleRepeatPassword" name="city"  [(ngModel)]="city" placeholder="City" required>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" id="exampleInputPassword" name="district"  [(ngModel)]="district" placeholder="District" required>
                                </div>
                                <div class="col-sm-4  mb-3 mb-sm-0">
                                  <input type="number" class="form-control form-control-user" id="exampleRepeatPassword" name="postalcode"  [(ngModel)]="postalcode" placeholder="Postal Code" required>
                                </div>
                                <div class="col-sm-4">
                                <input type="number" class="form-control form-control-user" id="exampleRepeatPassword" name="house"  [(ngModel)]="house" placeholder="House No." required>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                  <input type="number" class="form-control form-control-user" id="exampleInputPassword" name="area"  [(ngModel)]="area" placeholder="Area(in Sq.feet)" required>
                                </div>
                                <div class="col-sm-4  mb-3 mb-sm-0">
                                  <input type="number" class="form-control form-control-user" id="exampleRepeatPassword" name="floors"  [(ngModel)]="floors" placeholder="Total Floors" required>
                                </div>
                                <div class="col-sm-4">
                                <input type="number" class="form-control form-control-user" id="exampleRepeatPassword" name="rooms"  [(ngModel)]="rooms" placeholder="Total Rooms" required>
                                </div>
                              </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-user btn-block col-lg-1 col-sm-3 col-md-2" ><i class="fa fa-plus-circle"></i>
                              Add
                            </button>
                            
                           
                          </form>
                          <hr>
                         
                        </div>
                      </div>
                   
                </div>
              </div>
            </div>

          </div>