<div class="row">

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Add Property</h6>

      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="row">

          <div class="col-lg-12">
            <div>
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Owner Detail</h6>
              </div>
              <form style="width: 90%; padding: 15px;" [formGroup]="searchOwner" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input formControlName="ownerEmail" type="email" class="form-control bg-light border-0 small" placeholder="Search for owner's Email" aria-label="Search"
                    aria-describedby="basic-addon2" [ngClass]="{ 'is-invalid': submitted_owner && g.ownerEmail.errors }">
                  <div class="input-group-append">
                    <button (click)="searchOwnerFunct()" class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                  <div *ngIf="submitted_owner && g.ownerEmail.errors" class="invalid-feedback">
                    <div *ngIf="g.ownerEmail.errors.required">Owner is required</div>
                    <div *ngIf="g.ownerEmail.errors.email">Invalid Email</div>
                  </div>
                </div>
              </form>
              <form class="user" [formGroup]="propertyData" (ngSubmit)="onSubmit()">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Property Detail</h6>
                </div>
                <div class="p-3">
                  <div class="form-group">
                    <input type="text" formControlName="location" class="form-control form-control-user"
                      id="exampleFirstName" placeholder="Location"
                      [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                      <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" formControlName="district" class="form-control form-control-user"
                      id="exampleFirstName" placeholder="District"
                      [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                      <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                        <div *ngIf="f.district.errors.required">District is required</div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <input type="text" formControlName="city" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="City"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <select class="custom form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.type.errors }" formControlName="type" id="">
                          <option selected disabled>Choose</option>
                          <option value="sales">Sales</option>
                          <option value="rentals">Rentals</option>
                      </select>
                      <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">Property Type is required</div>
                      </div>
                    </div>
                    <div class="col-sm-4  mb-3 mb-sm-0">
                      <input type="number" formControlName="postalCode" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="PostalCode"
                        [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }">
                      <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                        <div *ngIf="f.postalCode.errors.required">PostalCode is required</div>
                        <div *ngIf="f.postalCode.errors.required">PostalCode must be a number!</div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" formControlName="houseNumber" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="House Number"
                        [ngClass]="{ 'is-invalid': submitted && f.houseNumber.errors }">
                      <div *ngIf="submitted && f.houseNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.houseNumber.errors.required">House Number is required</div>
                        <div *ngIf="f.houseNumber.errors.pattern">House Number must be a number!</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <input type="number" formControlName="area" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="Area (in sq. ft)"
                        [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                      <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                        <div *ngIf="f.area.errors.required">Area is required</div>
                        <div *ngIf="f.area.errors.pattern">Area must be a number!</div>
                      </div>
                    </div>
                    <div class="col-sm-4  mb-3 mb-sm-0">
                      <input type="number" formControlName="floors" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="Total Floors"
                        [ngClass]="{ 'is-invalid': submitted && f.floors.errors }">
                      <div *ngIf="submitted && f.floors.errors" class="invalid-feedback">
                        <div *ngIf="f.floors.errors.required">Floors field is required</div>
                        <div *ngIf="f.floors.errors.pattern">Floors must be a number!</div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" formControlName="rooms" class="form-control form-control-user"
                        id="exampleFirstName" placeholder="Total Rooms"
                        [ngClass]="{ 'is-invalid': submitted && f.rooms.errors }">
                      <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
                        <div *ngIf="f.rooms.errors.required">Rooms field is required</div>
                        <div *ngIf="f.rooms.errors.pattern">Rooms must be a number!</div>
                      </div>
                    </div>
                  </div>
                </div>

                <button nz-button nzType="primary" style="float: right;" [nzLoading]="isLoadingOne">Add Property!</button>
              </form>
              <hr style="margin-top: 80px;">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>